{{ define "header" }}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Burst Pool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/> -->
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/1.1.3/stupidtable.js"></script>   
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>

    <link href="/static/xmain.css" rel="stylesheet">
    <link href="/static/burst-b-logo-without-bg.png" rel="icon">
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="padding:0px;">
            <img src="/static/cryptoguru.png" style="height:100%;display:inline-block;"><span> Burst Pool</span>
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="blinks">
                <li><a href="/info"><i class="fas fa-info"></i> Thechnical info</a></li>
                <li><a data-toggle="modal" data-target="#howtoModal" href="#" ><i class="fas fa-subscript"></i> How to mine?</a></li>
                <li class="divider"></li>
                <li><a target="_blank" href="https://explore.burst.cryptoguru.org"><i class="fas fa-chart-bar"></i> Explorer</a></li>
                <li><a target="_blank" href="https://package.cryptoguru.org"><i class="fas fa-briefcase"></i> Software Packages</a></li>
                <li><a target="_blank" href="https://burstwiki.org"><i class="fab fa-wikipedia-w"></i> Burst Wiki</a></li>
                <li class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#calcModal"><i class="fas fa-calculator"></i> Calculator</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal"><i class="fas fa-hands-helping"></i>
                About <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container-fluid">

{{ end }}
